<mat-tab-group (selectedTabChange)="tabChanged($event)" [selectedIndex]="selectedIndex">
  <mat-tab label="Users grid">
    <button class="button-create" mat-button (click)="createNew()">Create user</button>
    <button class="button-edit" mat-button (click)="editUser()" [disabled]="disableEditButton()">Edit user</button>
    <button class="delete" mat-button (click)="deleteUser()" [disabled]="disableEditButton()">Delete user</button>
    <button class="button-password" mat-button (click)="changePassword()" [disabled]="disableEditButton()">Change Password</button>
    <button class="button-refresh" mat-button (click)="refreshGrid()">Refresh</button>
    <app-users-grid></app-users-grid>
  </mat-tab>
  <mat-tab *ngFor="let tab of tabs">
    <ng-template mat-tab-label>
      {{tab.label}}
      <span class="tab-close" (click)="closeTab(tab)"><mat-icon>close</mat-icon></span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<ng-content></ng-content>
<ng-template dt-host></ng-template>
