<div class="login-form">
  <div class="header-text"align=center>Please sign in</div>
  <p>
    <mat-form-field class="login-form-input">
      <input matInput type='text' [(ngModel)]="name" placeholder="Username" autofocus>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="login-form-input">
      <input matInput [(ngModel)]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

  </p>
  <div>
    <button class="button-login" mat-raised-button (click)="onLogin()" cdkFocusInitial>Sign in</button>
  </div>
</div>
