<div mat-dialog-content>
  <h4>Change password</h4>
  <mat-form-field>
    <input type="password" matInput [(ngModel)]="passNew" placeholder="New password">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput [(ngModel)]="passConfirm" placeholder="Confirm password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="passNew" [disabled]="!enableOkButton()" cdkFocusInitial>Ok</button>
</div>
